<div class="container" id="app">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Tabs App</h3>
          <h6 class="card-subtitle mb-2 text-muted">Using Angular & Redux</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" [hidden]="!(populated | async)">
    <div class="col">
      Dynamically added Tabs
      <template #tabsContainer></template>
      <button class="btn btn-primary mt-3" (click)="addTab('myTabs')">Add Tab</button>

    </div>
    <div class="col">
      Static Tabs
      <my-tabs [basePath]="['myTabs2']"></my-tabs>
      <button class="btn btn-primary mt-3" (click)="addTab('myTabs2')">Add Tab</button>
    </div>
  </div>
  <div class="row mt-5" [hidden]="populated | async">
    <div class="col">
      <button class="btn btn-primary" (click)="populateTabs()">Populate</button>
    </div>
  </div>
</div>
